.productform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
    height:800px;
}

.productform input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.productform textarea {
    resize: none;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.productform button {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 0 0 0 0;
    border: 1px solid #ccc;
    background-color: darkslategrey;
    cursor: pointer;
}

.productform button:hover {
    background-color: #9d9c9c;
}

.productform select {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.productform select[disabled] {
    background-color: rgba(59, 59, 59, 0.3);
}